/* CSS files add styling rules to your content */
/*
-> Change background-color..
-> Web-safe fonts link
https://www.w3schools.com/css//css_font_websafe.asp
*/
.hidden {
  display: none;
}
body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: slategrey; 
  color: white;
}

h1 {
  font-family: verdana, arial, sans-serif;
  font-style: italic;
  color: #373fff;
}

button {
  padding: 10px;
  border-radius: 10px;
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
  
}
#button1 {background: lightgreen;}
#button1:active, #button1.lit{
  background: green;
}

#button2 {background: lightskyblue;}
#button2:active, #button2.lit{
  background: blue;
}

#button3 {background: lightcoral;}
#button3:active, #button3.lit{
  background: red;
}

#button4 {background: lightyellow;}
#button4:active, #button4.lit{
  background: yellow
}
#button5 {background: lightsalmon;}
#button5:active, #button5.lit{
  background: DarkOrange
}
#button6 {background: lightpink;}
#button6:active, #button6.lit{
  background: DeepPink
}
#button7 {background: Orchid;}
#button7:active, #button7.lit{
  background: DarkViolet
}

